* {
    font-family: Helvetica, Arial, Helvetica, sans-serif
}

.wd-background-black {
    background-color: black;
}

.wd-search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wd-border {
    border: 1px solid rgb(47,51,54);
    padding: 0px 16px;
    clear: both;
    overflow: hidden;
}

.wd-search-bar {
    color:white;
    background-color: rgb(59,59,59);
    border-radius: 10px;
    padding: 6px;
    width: 85%;
}

.wd-settings-button {
    color: rgb(29,155,240);
    margin-right: 12px;
}

.wd-explore { 
    display: flex;
    flex-basis: auto;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-around;
    max-width: 700px;
}

.wd-tabs-bar {
    margin: 16px 0px;
    clear: both;
    display: inline-block;
}

.wd-tab {
    font-size: 15px;
    font-weight: bold;
}

.wd-selected-tab {
    padding: 16px;
    margin-right: 16px;
    color: rgb(29, 155, 240);
    border-bottom: solid rgb(25, 155, 240);
    text-decoration: none;
}

.wd-unselected-tab {
    font-size: 15px;
    padding: 16px;
    color: rgb(110, 118, 125);
    text-decoration: none;
}

.wd-explore-feed-title { 
    font-size: 18px;
    color: white;
    padding: 0px;
    margin: 2px;
}

.wd-explore-feed-details {
    font-size: 13px;
    color: rgb(110,118,125);
    margin: 2px;
}